<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">

                <div class="card" id="chat1" style="border-radius: 15px;">
                    <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                        style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <i class="fas fa-angle-left"></i>
                        <p class="mb-0 fw-bold">Live chat</p>
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="card-body">

                        <div id="messageList">
                            {{#each messages}}
                            <div class="d-flex justify-content-between">
                                <p class="small mb-1 text-muted">23 Jan 2:05 pm</p>
                                <p class="small mb-1">{{this.name}}</p>
                            </div>
                            <div class="d-flex flex-row justify-content-end mb-4">
                                <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                                    <p class="small mb-0">{{this.message}}</p>
                                </div>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                                    alt="avatar 1" style="width: 45px; height: 100%;">
                            </div>
                            {{/each}}
                        </div>

                        <div class="form-outline">
                            <textarea class="form-control mb-2" id="textAreaMessage" rows="4"></textarea>

                            <div class="d-flex flex-row justify-content-end">
                                <button class="btn btn-primary"
                                    onclick="sendMessage(textAreaMessage.value)">SEND</button>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</section>