<div class="container-fluid p-5 justify-content-center">
    <div class="row gap-2 justify-content-center">
        <div class="col-sm-12 col-lg-4">

            <div class="card" id="form-add">
                <div class="card-body">
                    <form id="form-producto">

                        <h4 class="mb-4 pb-2 border-bottom">Nuevo producto</h4>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Título</label>
                            <input type="text" class="form-control" id="title" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Categoría</label>
                            <input type="text" class="form-control" id="category" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Descripción</label>
                            <input type="text-area" class="form-control" id="description" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Precio</label>
                            <input type="text" class="form-control" id="price" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Imagen</label>
                            <input type="text" class="form-control" id="thumbnail" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">SKU</label>
                            <input type="text" class="form-control" id="code" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="formGroupExampleInput2" class="form-label">Stock</label>
                            <input type="text" class="form-control" id="stock" placeholder="">
                        </div>
                        <button class="btn btn-success" type="submit">Agregar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6 p-3">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3" id="lista-productos">
                {{#each products}}
                <div class="row mb-2">

                    <svg class="col-4" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Thumbnail</text>
                    </svg>
                    <div class="col-8">
                        <div class="container">
                            <div class="">

                                <span class="col text-uppercase"> {{this.title}}</span>
                                <p class="col">Precio: ${{this.price}}</p>
                            </div>
                            <div class="">

                                <div class="">
                                    <span>Stock: {{this.stock}}</span>
                                </div>
                                <div class="">
                                    <i class="btn btn-danger bi bi-trash-fill"
                                        onclick="eliminarProducto({{this.id}})">ELIMINAR</i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>